greenlet==3.2.5
numpy==2.0.2
pandas==2.3.3
psycopg2-binary==2.9.11
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2026.1.post1
six==1.17.0
SQLAlchemy==2.0.48
typing_extensions==4.15.0
tzdata==2025.3
dbt-core==1.11.8
dbt-postgres==1.10.0
sqlfluff==4.1.0
sqlfluff-templater-dbt==4.1.0
